[Desktop Entry]
Type=Application
Name=Arvore
GenericName=Embedded Lua IDE
Comment=IDE for the ELM11 Embedded Lua Machine
Exec=arvore
Icon=arvore
Terminal=false
Categories=Development;IDE;
Keywords=lua;elm11;embedded;ide;serial;
StartupWMClass=Arvore
